{{# if products}}
<div class="row">
    <div class="col-sm-6 col-md-6-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{# each products}}
            <li class="list-group-item">
                <span name="qty" class="badge">{{ this.qty }}</span>
                <strong>{{ this.item.category }}</strong>
                <span class="label label-success">{{ this.price }}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6-offset-3 col-sm-offset-3">
        <strong style="color:white;">Total: {{this.totalPrice}} </strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6-offset-3 col-sm-offset-3">
        <a href="/checkout" type="button" class="btn btn-success">CheckOut</a>
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6-offset-3 col-sm-offset-3">
        <h2 style="color:white;">No items in the cart</h2>
    </div>
</div>
{{/if}}